body {
font-family: system-ui, sans-serif;
margin: 0;
padding: 0;
}


nav {
padding: 1rem;
background: #f4f4f4;
}


nav a {
margin-right: 1rem;
text-decoration: none;
color: #333;
}


main {
padding: 2rem;
}
